registry=https://grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/registry/

always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 02/03/2020.
; begin auth token
//grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/registry/:username=grassvalleyprerelease
//grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/registry/:_password=ZG1qeno3MmtrenBqZXYydmJyZXVpZHNqa3JicTNmaDdwM2EzZm1hcWhsMjRzZ3l4d21lYQ==
//grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/registry/:email=npm requires email to be set but doesn't use the value
//grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/:username=grassvalleyprerelease
//grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/:_password=ZG1qeno3MmtrenBqZXYydmJyZXVpZHNqa3JicTNmaDdwM2EzZm1hcWhsMjRzZ3l4d21lYQ==
//grassvalleyprerelease.pkgs.visualstudio.com/npm/_packaging/gv/npm/:email=npm requires email to be set but doesn't use the value
; end auth token